@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

* {
    margin: 0;
    font-family: 'Noto Sans Korean', sans-serif;
}

body {
    /*
        background: #e4e4e4;
    */
    margin: 8px;
}

.container {
    width: 40rem;
    margin: 0 auto;
}

.card {
    background: #fff;
    /*
        box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.03), 1px 0 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.12);
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    */
    margin-bottom: 10px;
}

.profile-info {
    display: flex;
}

.profile-picture {
    margin: 10px 0;
    width: 10rem;
    height: 100%;
}

.profile-text {
    display: flex;
    flex-direction: column;
}

.profile-title {
    margin-top: 10px;
    font-weight: 400;
    font-size: 2rem;
}

.profile-sub-title {
    font-size: 1.2rem;
    font-weight: 200;
}

.profile-normal-text {
    font-size: 1rem;
    font-weight: 200;
}

.profile-social {
    display: flex;
    flex: 1;
    align-items: flex-end;
}

.profile-social i {
    margin: 0.3rem;
    font-size: 1.5rem;
    color: #000;
}


