body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-family: 'Noto Sans Korean', sans-serif;
}
#contents {
  position: relative;
  width: 1080px;
  background-color: #fff;
  margin: 30px auto 0 auto;
}
header {
  position: relative;
  padding: 50px 60px;
}
header .profile-picture {
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  right: 130px;
  top: 30px;
}
header .profile-picture > img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
header .name {
  font-size: 40px;
}
header .job {
  font-size: 20px;
}
#main {
  position: relative;
}
.main-item {
  margin-bottom: 30px;
  padding: 0px 30px;
}
.container {
  width: 780px;
}
.container h2 {
  text-align: right;
  width: 170px;
}
.container ul {
  margin-top: 20px;
}
li {
  position: relative;
}
li .summary {
  width: 170px;
  float: left;
  position: relative;
  text-align: right;
  margin-right: 30px;
}
li .summary .date {
  color: #999;
  font-size: 12px;
}
li .detail {
  float: left;
  width: 580px;
}
li .summary h3,
li .detail h3 {
  font-size: 16px;
  font-weight: 500;
}
li .detail p {
  font-size: 14px;
  word-wrap: break-word;
}
li .detail .skills {
  font-size: 14px;
  color: #999;
  padding: 5px;
  margin-top: 5px;
}
.certificate {
  padding-bottom: 50px;
}
.contact {
  width: 300px;
  position: absolute;
  right: -50px;
  top: 0px;
}
.contact ul {
  margin-top: 20px;
}
.contact ul li {
  color: #333;
  font-size: 14px;
  margin-top: 5px;
  padding-top: 5px;
}
.contact ul span {
  width: 25px;
  height: 25px;
  text-align: center;
  padding-right: 5px;
}
@media only screen and (max-width: 768px) {
  #contents {
    margin: 50px 0 0 50px;
  }
}
